@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeOut {
    0% { opacity: 1; }
    70% { opacity: 1; }
    100% { opacity: 0; }
  }
  
  .animate-fade-out {
    animation: fadeOut 2s forwards;
  }